<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caulong"
        tools:targetApi="31">
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".admin.AdminActivity"/>
        <activity android:name=".admin.BookingYard_Management"/>
        <activity android:name=".admin.Tournament_List"/>
        <activity android:name=".admin.EditTournamentActivity"/>
        <activity android:name=".admin.InsertTournamentActivity"/>
        <activity android:name=".user.LoginActivity"/>
        <activity android:name=".booking.ServiceListActivity" />
        <activity android:name=".booking.ServiceTypeListActivity" />
        <activity android:name=".booking.BookingDetailActivity" />
        <activity android:name=".menubottom.Account"/>
        <activity android:name=".menubottom.AccountFragment"/>
        <activity android:name=".menubottom.HistoryFragment"/>
        <activity android:name=".menubottom.NotificationFragment"/>
        <activity android:name=".admin.ServiceList"/>
        <activity android:name=".admin.InsertServiceActivity"/>
        <activity android:name=".admin.EditServiceActivity"/>
        <activity android:name=".admin.Customer_List"/>
        <activity android:name=".admin.InsertCustomerActivity"/>
        <activity android:name=".admin.DetailCustomerActivity"/>
        <activity android:name=".admin.EditCustomerActivity"/>
        <activity android:name=".menuleft.ShareFragment"/>
        <activity android:name=".booking.Booking_yard" />
        <activity android:name=".user.SignupActivity"/>
        <activity android:name=".menuleft.feedback" />
        <activity android:name=".menuleft.support" />
        <activity android:name=".user.InfoActivity"/>
        <activity android:name=".user.EditInfoActivity"/>
        <activity android:name=".admin.RatingActivity"/>
        <activity android:name=".menubottom.GiaiDauFragment"/>
    </application>

</manifest>